html{
  background-color: #FFF;
}
.button{
  background-color: white;
  border-width: thin;
  border-color: transparent;
  border-radius: 25px;
}
.button--grey{
  background-color: #EDEFF1;
  border-width: thin;
  border-color: transparent;
  border-radius: 25px;
  height: 40px;
  padding: 10px;
}