.room__form{
    display: flex;
    width: 100%;
}
.room__form--label{
    font-size: 16pt;
    font-weight: bold;
    width: 30%;
    margin-left: 1%;
}
.room__form--inputs{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.room__form--inputs--text, .room__form--submit{
    border: none;
    outline: none;
    width: 25%;
    height: 30px;
}
.room__form--submit{
    border-radius: 25px;
    background-color: black;
    color: #fafafa;
    height: 35px;
    border-color: transparent;
}
@media screen and (max-width: 768px) {
    .room__form{
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }
    .room__form--inputs{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 70%;
        justify-content: space-around;
    }
    .room__form--label{
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    .room__form--inputs--text{
        width: 70%;
    }
    .room__form--submit{
        width: 50%;
        height: 35px;
    }
}